<template>
<div id="depts">
    <div class="row q-pa-md row items-start q-gutter-md">
        <p>Manage departments page</p>
    </div>
</div>  
</template>

<script>
export default {
    data: () => ({
        form: {
            name: null,
            managerId: null,
        },
        dialog: false,
        headers: [
            { text: "Department", align: "left", sortable: true, value: "name" },
            { text: "Manager", align: "left", sortable: true, value: "manager_name" },
            { text: "Members", align: "left", sortable: true, value: "members" },
            { text: "Action", align: "center", sortable: true, value: "action" }
        ]
    }),//end data

    mounted() {
        if (this.departments.length) {
            return;
        }

        this.$http.get('/departments')
        .then((response) => {
            this.$store.commit('updateDepartments', response.data.departments);
        }).catch(error => {
          console.log(error)
        });//end departments

        this.$http.get('/managers')
        .then((response) => {
            this.$store.commit('updateManagers', response.data.managers);
        }).catch(error => {
          console.log(error)
        });//end managers

    },

    computed: {
        departments() {
            return this.$store.getters.departments;
        },
        managers() {
            return this.$store.getters.managers;
        }
    },//end computed

    methods: {
        submitForm(){
                this.$http.post('create/department', this.form).then(response => {
                if(response.data.success == true)
                {
                    this.$store.commit('updateDepartments', response.data.data.original.departments);
                }
                else{
                    alert('error1')
                    console.log(response.data.errors)
                }
            }).catch(error => {
            alert('error2')
            console.log(error.response.data)
            });
        }//end submit
    }//end methods
}
</script>

<style>

</style>