<template>
<div class="q-pa-md">
    <div class="row justify-center">
      <img src="https://logos.textgiraffe.com/logos/logo-name/Pista-designstyle-summer-m.png" alt="PISTA">      
    </div>
    <p style="font-size:24px;" class="row justify-center">Ready to get started?</p>
    <div class="row justify-center q-gutter-sm">
        <q-btn color="primary" to="/login" label="Sign in to your account" size="md" class="q-mt-md">
      <q-tooltip content-class="bg-accent">Sign in to your account</q-tooltip>
    </q-btn>
    <q-btn color="primary" to="/register" label="Create account" class="q-mt-md">
      <q-tooltip content-class="bg-accent">New organisation, register</q-tooltip>
    </q-btn>
      </div>
  </div>
</template>

<script>
export default {

}
</script>

<style>

</style>