<template>
<div id="managers">
    <div class="row q-pa-md row items-start q-gutter-md">
        <p>Manage managers page</p>
    </div>
</div>  
</template>

<script>
export default {
    data: () => ({
        form: {
            name: null,
            email: null,
            mobile: null,
            departmentId: null,
        },
        dialog: false,
        headers: [
            { text: "Name", align: "left", sortable: true, value: "name" },
            { text: "Email", align: "left", sortable: true, value: "email" },
            { text: "Dept", align: "left", sortable: true, value: "department_name" },
            { text: "Mobile", align: "left", sortable: true, value: "mobile" },
            { text: "Action", align: "center", sortable: true, value: "action" }
        ]
    }),//end data

    
    mounted() {
        if (this.managers.length) {
            return;
        }

        this.$http.get('/managers')
        .then((response) => {
            this.$store.commit('updateManagers', response.data.managers);
        }).catch(error => {
          console.log(error)
        });//end managers

        this.$http.get('/departments')
        .then((response) => {
            this.$store.commit('updateDepartments', response.data.departments);
        }).catch(error => {
          console.log(error)
        });//end departments

    },

    computed: {
        managers() {
            return this.$store.getters.managers;
        },
        departments() {
            return this.$store.getters.departments;
        }
    },//end computed

    methods: {
        submitForm(){
                this.$http.post('create/manager', this.form).then(response => {
                if(response.data.success == true)
                {
                    this.$store.commit('updateManagers', response.data.data.original.managers);
                }
                else{
                    alert('error1')
                    console.log(response.data.errors)
                }
            }).catch(error => {
            alert('error2')
            console.log(error.response.data)
            });
        }//end submit
    }//end methods
}
</script>

<style>

</style>