<template>
<div id="depts">
    <div class="row q-pa-md row items-start q-gutter-md">
        <p>Settings page</p>
    </div>
</div>  
</template>

<script>
export default {

}
</script>

<style>

</style>