<template>
    <q-layout view="hHh lpR fFf">
    <q-header elevated class="bg-primary text-white">
      <q-toolbar>
        <!-- <q-toolbar-title class="vetical"> -->
            <div class="q-pa-md q-mx-auto" style="font-size: 20px;">
          P-I-S-T-A help you manage your workflow..
            </div>
        <!-- </q-toolbar-title> -->
        <div>
        </div>
      </q-toolbar>
    </q-header>
    <q-page-container>
        <router-view></router-view>
    </q-page-container> 
    </q-layout>
</template>

<script>
export default {

}
</script>

<style>

</style>