<template>
    <q-layout view="hHh lpR fFf">
    <q-header elevated class="bg-primary text-white">
      <q-toolbar>
        <q-btn
          flat
          dense
          round
          @click="leftDrawerOpen = !leftDrawerOpen"
          aria-label="Menu"
          icon="menu"
        />

        <q-toolbar-title>
          P-I-S-T-A
        </q-toolbar-title>

        <div>
          <q-btn flat icon="notifications">
            <q-badge color="red" floating>2</q-badge>
          </q-btn>
          <q-btn-dropdown
      flat
      label="Deveint Ltd"
      clickable v-close-popup
    >
      <q-list>
        <q-item clickable v-close-popup>
          <q-item-section>
            <q-item-label>Logout</q-item-label>
          </q-item-section>
        </q-item>
      </q-list>
    </q-btn-dropdown>
        </div>
      </q-toolbar>
    </q-header>

    <q-drawer
      v-model="leftDrawerOpen"
      show-if-above
      bordered
      content-class="bg-grey-2"
    >
      <q-list>
        <q-item clickable tag="a" to="/home">
          <q-item-section avatar>
            <q-icon name="apps" />
          </q-item-section>
          <q-item-section>
            <q-item-label>Home</q-item-label>
          </q-item-section>
        </q-item>
        <q-item-label header>Manage</q-item-label>
        <q-separator></q-separator>
        <q-item clickable tag="a" to="/managers">
          <q-item-section avatar>
            <q-icon name="account_circle" />
          </q-item-section>
          <q-item-section>
            <q-item-label>Managers</q-item-label>
          </q-item-section>
        </q-item>
        <q-item
          clickable
          tag="a"
          to="/departments"
        >
          <q-item-section avatar>
            <q-icon name="label_important" />
          </q-item-section>
          <q-item-section>
            <q-item-label>Departments</q-item-label>
          </q-item-section>
        </q-item>
        <q-item-label header>Reports</q-item-label>
        <q-separator></q-separator>
        <q-item
          clickable
          tag="a"
          to="/reports"
        >
          <q-item-section avatar>
            <q-icon name="calendar_today" />
          </q-item-section>
          <q-item-section>
            <q-item-label>Reports</q-item-label>
          </q-item-section>
        </q-item>
        <q-item-label header>Settings</q-item-label>
        <q-separator></q-separator>
        <q-item
          clickable
          tag="a"
          to="/settings"
        >
          <q-item-section avatar>
            <q-icon name="settings" />
          </q-item-section>
          <q-item-section>
            <q-item-label>Settings</q-item-label>
          </q-item-section>
        </q-item>
      </q-list>
    </q-drawer>
    <q-page-container>
        <router-view></router-view>
    </q-page-container>   
  </q-layout>
</template>

<script>
// import AppToolbar from "@/components/AppToolbar"
export default {
    components: {
        // AppToolbar
    },
    data: () => ({
        leftDrawerOpen: false
    })
}
</script>

<style>

</style>