<template>
    <div id="home">
        <div class="row q-pa-md row items-start q-gutter-md">
            <div class="col-xs-12 col-md-2">
                <q-card class="my-card text-black">
                <q-card-section>
                    <div class="text-h6">
                        <q-icon name="people" class="text-orange" style="font-size: 4rem;" />
                        <b class="text-h4 q-ml-md">14</b>
                    </div>
                    <div class="text-subtitle2 text-center">No of Managers</div>
                </q-card-section>
                </q-card>
            </div>
            <div class="col-xs-12 col-md-2">
                <q-card class="my-card text-black">
                <q-card-section>
                    <div class="text-h6">
                        <q-icon name="people_outline" class="text-teal" style="font-size: 4rem;" />
                        <b class="text-h4 q-ml-md">42</b>
                    </div>
                    <div class="text-subtitle2 text-center">No of Employees</div>
                </q-card-section>
                </q-card>
            </div>
            <div class="col-xs-12 col-md-2">
                <q-card class="my-card text-black">
                <q-card-section>
                    <div class="text-h6">
                        <q-icon name="bookmarks" class="text-primary" style="font-size: 4rem;" />
                        <b class="text-h4 q-ml-md">5</b>
                    </div>
                    <div class="text-subtitle2 text-center">No of Departments</div>
                </q-card-section>
                </q-card>
            </div>
            <div class="col-xs-12 col-md-2">
                <q-card class="my-card text-black">
                <q-card-section>
                    <div class="text-h6">
                        <q-icon name="calendar_today" class="text-red" style="font-size: 4rem;" />
                        <b class="text-h4 q-ml-md">13</b>
                    </div>
                    <div class="text-subtitle2 text-center">Today's Tasks</div>
                </q-card-section>
                </q-card>
            </div>
            <div class="col-xs-12 col-md-2">
                <q-card class="my-card text-black">
                <q-card-section>
                    <div class="text-h6">
                        <q-icon name="check" class="text-primary" style="font-size: 4rem;" />
                        <b class="text-h4 q-ml-md">4</b>
                    </div>
                    <div class="text-subtitle2 text-center">Completed Tasks</div>
                </q-card-section>
                </q-card>
            </div>
        </div>
    </div>
</template>

<script>
export default {

}
</script>

<style>

</style>