<template>
  <div class="app">
    <router-view></router-view>
  </div>
</template>

<script>
export default {
  // name: "LayoutDefault",
  data() {
    return {
      
    };
  }
};
</script>

<style></style>
