<template>
<q-page
    padding
    class="q-mx-auto"
    style="max-width: 500px"
  >
    <q-card
      flat
      bordered
    >
      <q-linear-progress 
      :value="progress" 
      indeterminate
      color="cyan" 
      class="q-mt-sm"
      v-if="isProgress" />
      
      <q-card-section>
        <div class="text-h6">Login</div>
      </q-card-section>

      <q-card-section>
        <q-form
          @submit.prevent="onLogin"
          class="q-gutter-md"
        >
          <q-input
            outlined
            type="text"
            v-model="form.email"
            label="Email Address *"
            lazy-rules
            :rules="[ val => val && val.length > 0 || 'Please type something']"
          />

          <q-input
            outlined
            type="password"
            v-model="form.password"
            label="Your password *"
            lazy-rules
            :rules="[ val => val && val.length > 0 || 'Please type something']"
          />
          <div>              
            <q-btn
              unelevated
              no-caps              
              label="Login"
              type="submit"
              color="primary"
            />

            <q-btn
              class="q-ml-md"
              flat
              to="/register"
              no-caps
              label="Register"
              color="primary"
            />
          </div>
        </q-form>
      </q-card-section>
    </q-card> 
  </q-page>  
</template>

<script>
export default {
    data: () => ({
      isProgress: false,
      form: {
        email: null,
        password: null,
      }
    }),
    methods: {
        onLogin() {
          this.isProgress = true;
           this.$http.post('auth/login', this.form).then(response => {
              if(response.data.success == true)
              {
                  setTimeout(() => {
                      this.isProgress = false;
                      this.$store.commit('LoginUser', response.data);
                      
                      if(response.data.user.role == 2) {
                        this.$router.push({path: '/dashboard'})
                      } else if (response.data.user.role == 1) {
                        this.$router.push({path: '/home'})
                      } else {
                        this.$router.push({path: '/users'})
                      }
                  },20);
              }
              else{
                    this.isProgress = true;
                  setTimeout(() => {
                    alert('error1')
                    console.log(response.data.errors)
                    this.isProgress = false;
                      // this.loginError = true;
                      // this.errors = response.data.errors
                  },10);
              }
          }).catch(error => {
            alert('error2')
            this.isProgress = false;
            console.log(error.response.data.errors)
              // this.loginError = true;
              // this.errors = error.response.data.errors
          });
        }//end onlogin
    }//end methods
}
</script>

<style>

</style>