<template>
<div></div>
  
</template>

<script>
export default {
  mounted(){
    this.$http.post('auth/logout').then(response => {
          if(response.data.success == true)
          {
              setTimeout(() => {
                  this.$store.commit('LogoutUser')
                  this.$router.push({path: '/'})
                  
              },0);
          }
          else{
              setTimeout(() => {
                alert('error1')
                console.log(response.data.errors)
                  // this.loginError = true;
                  // this.errors = response.data.errors
              },10);
          }
      }).catch(error => {
        alert('error2')
        console.log(error.response.data.errors)
          // this.loginError = true;
          // this.errors = error.response.data.errors
      });
  },//end mounted
  method:{
    logout(){
      this.$store.commit('LogoutUser');
    }
  }
};
</script>

<style></style>
