<template>
<q-page padding class="q-mx-auto" style="max-width: 500px">
    <q-card flat bordered>
        <q-linear-progress 
        :value="progress" 
        indeterminate
        color="cyan" 
        class="q-mt-sm"
        v-if="isProgress" />

        <q-card-section>
            <div class="text-h6">Register</div>
        </q-card-section>
        <q-card-section>
            <q-form
            @submit.prevent="onRegister"
            class="q-gutter-md">
                <q-input outlined
                type="text"
                v-model="form.company_name"
                label="Company Name *"
                lazy-rules
                :rules="[ val => val && val.length > 0 || 'Please enter Company Name']">
                </q-input>
                <q-input outlined
                type="text"
                v-model="form.name"
                label="Full Name*"
                lazy-rules
                :rules="[ val => val && val.length > 0 || 'Please enter Full Name']">
                </q-input>
                <q-input outlined
                type="text"
                v-model="form.position"
                label="Company Position e.g.CTO *"
                lazy-rules
                :rules="[ val => val && val.length > 0 || 'Please enter Position']">
                </q-input>
                <q-input outlined
                type="number"
                v-model="form.mobile"
                label="Phone Number"
                lazy-rules
                :rules="[ val => val && val.length > 0 || 'Please enter Phone Number']">
                </q-input>
                <q-input
                outlined
                type="text"
                v-model="form.email"
                label="Email Address *"
                lazy-rules
                :rules="[ val => val && val.length > 0 || 'Please enter Email']">
                </q-input>
                <q-input
                outlined
                type="password"
                v-model="form.password"
                label="Password *"
                lazy-rules
                :rules="[ val => val && val.length > 0 || 'Please enter password']">
                </q-input>
                <q-input
                outlined
                type="password"
                v-model="form.cpassword"
                label="Confirm Password *"
                lazy-rules
                :rules="[ val => val && val.length > 0 || 'Please enter password']">
                </q-input>
                <q-toggle
                v-model="form.accept"
                label="I accept the terms and conditions"
                />
                <div>
                <q-btn
                unelevated
                no-caps              
                label="Register"
                type="submit"
                color="primary"
                />

                <q-btn
                class="q-ml-md"
                flat
                to="/login"
                no-caps
                label="Login"
                color="primary"
                />
                </div>

            </q-form>
        </q-card-section>
    </q-card>
</q-page>  
</template>

<script>
export default {
    data: () => ({
        isProgress: false,
        form:{
        name: "",
        company_name: "",
        position: "",
        mobile: "",
        email: "",
        password: "",
        cpassword: "",
        accept: false,
        }
    }),
    methods: {
        onRegister() {
            this.isProgress = true;
            this.$http.post('auth/register', this.form).then(response => {
                if(response.data.success == true)
                {
                    setTimeout(() => {
                        this.isProgress = false;
                        this.$store.commit('LoginUser', response.data);
                        if(response.data.user.role == 2) {
                        this.$router.push({path: '/dashboard'})
                        } else if (response.data.user.role == 1) {
                        this.$router.push({path: '/home'})
                        } else {
                        this.$router.push({path: '/users'})
                        }
                    },20);
                }
                else{
                    this.isProgress = true;
                    setTimeout(() => {
                    alert('error1')
                    console.log(response.data.error)
                    this.isProgress = false;
                        // this.loginError = true;
                        // this.errors = response.data.errors
                    },10);
                }
            }).catch(error => {
            alert('error2')
            this.isProgress = false;
            console.log(error)
                // this.loginError = true;
                // this.errors = error.response.data.errors
            });
        }
    }
}
</script>

<style>

</style>